.bg-pre {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.w-100 {
  width: 100%;
}

.f-normal {
  font-size: 0.24rem;
}

.f-small {
  font-size: 0.18rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-a-c {
  align-items: center;
}

.flex-j-c {
  justify-content: center;
}

.flex-j-b {
  justify-content: space-between;
}

.pos-ab {
  position: absolute;
}

.pos-re {
  position: relative;
}

.pos-fix {
  position: fixed;
}

.pos-sticky {
  position: sticky;
}
